<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.atcorp.mobilecashdesk">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MobileCashDeskApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CartHistoryItemDetailActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <service android:name=".AppFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.ActionBar" />
        <activity
            android:name=".ui.BarcodeCaptureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ItemDetailActivity"
            android:label="@string/item_details"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.ActionBar" />
        <activity
            android:name=".ui.UserProfilerActivity"
            android:label="@string/user_profile"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.PrintReceiptActivity"
            android:label="@string/print_receipt_title"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme.ActionBar"></activity>
    </application>

</manifest>